<template name="footer">

<div class="full-width-footer">
	<footer class="wrap edge-padding">
		<div class="pure-g">
			<div class="pure-u-2-5 social-btns">
				<a target="_blank" href="https://twitter.com/samjbmason"><i class="icon-twitter"></i></a>
				<a target="_blank" href="https://github.com/samjbmason"><i class="icon-github"></i></a>
				 samjbmason
			</div> <!--  .pure-u-1-5 -->

			<div class="pure-u-3-5 align-last">
				<a href="{{aboutPagePath}}">about gthr</a>
			</div> <!--  .pure-u-1-5 -->
		</div> <!--  .pure-g-r -->
	</footer> <!--  .wrap -->	
</div> <!--  .full-width-footer -->

</template>