<template name="header">

	<header class="site-header wrap">
		<div class="pure-g-r">
			<div class="pure-u-1">
			<div class="pure-menu pure-menu-open pure-menu-horizontal">
				<a href="#" class="pure-menu-heading">
    			<h1 class="site-title">GTHR @ 229Creative</h1>
    		</a>
    	

	    	<ul>
	    		<li>
	    			<a href="{{aboutPagePath}}">About</a>
	    		</li>
	    		<li class="last">
	    			<div class="login-wrap">
								{{loginButtons}}
			    </div> <!--  .login-wrap -->
	    		</li>
	    	</ul>
   		</div>
   		</div> <!--  .pure-u-1 -->
    </div> <!--  .pure-g-r -->
  </header>

</template>