<template name="header">

	<div class="full-width-header">
		<header class="site-header wrap">
			<div class="pure-g-r">
				<div class="pure-u-1 center-small">
				<div class="pure-menu pure-menu-open pure-menu-horizontal">
					<a href="/" class="pure-menu-heading">
	    			<h1 class="site-title logo-font"><i class="icon-chat"></i>gthr @229</h1>
	    		</a>
	    	

		    	<ul>
		    		<li class="last nav-item">
		    			<div class="login-wrap nav-item">
									{{loginButtons}}
				    </div> <!--  .login-wrap -->
		    		</li>
		    		<li><a href="{{settingsPagePath}}">settings</a></li>
		    	</ul>
	   		</div>
	   		</div> <!--  .pure-u-1 -->
	    </div> <!--  .pure-g-r -->
	  </header>
  </div> <!--  .full-width-header -->

</template>