body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.wrap {
	max-width: 1000px;
	margin: 0 auto;
}

.login-wrap {
	float: right;
}

.login-link-and-dropdown-list {
	position: relative;
}

.accounts-dialog {
	position: absolute;
}

/*-- Message Box --*/

.conversations {
	max-height: 650px;
	overflow: auto;
}


