@font-face {
  font-family: 'fontello';
  src: url('/fonts/fontello.eot?98991264');
  src: url('/fonts/fontello.eot?98991264#iefix') format('embedded-opentype'),
       url('/fonts/fontello.woff?98991264') format('woff'),
       url('/fonts/fontello.ttf?98991264') format('truetype'),
       url('/fonts/fontello.svg?98991264#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
}
 
.icon-twitter:before { content: '\e805'; } /* '' */
.icon-github-circled:before { content: '\e804'; } /* '' */
.icon-pencil:before { content: '\e801'; } /* '' */
.icon-cancel:before { content: '\e802'; } /* '' */
.icon-chat:before { content: '\e800'; } /* '' */

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	background: #edece4;
	color: #80716c;
}


.wrap {
	max-width: 1000px;
	margin: 0 auto;
}

.login-wrap {
	float: right;
}

.login-link-and-dropdown-list {
	position: relative;
}

.accounts-dialog {
	position: absolute;
}

.site-title {
	font-weight: 300;
}

/*-- Message Box --*/

.conversations {
	max-height: 650px;
	overflow: auto;
}

.single-message {
	border-bottom: 1px solid #edece4;
	padding-bottom: 5px;
}

.name {
	font-size: 12px;
	font-weight: 700;
	margin-bottom: 0;
}

.posted-on {
	font-size: 12px;
	display: block;
}

.owns-post .name, .owns-post .posted-on {
	text-align: right;
}

.message-content {
	font-size: 18px;
}

/*-- Message entry --*/

.message-submit fieldset {
	border: none;
	padding: 0;
	margin: 0;
	text-align: left;
	margin-top: 5px;
}

.entry-box {
	
}

.entry-label {
	display: inline-block;
}

.entry-field {
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
	max-width: 100%;
	outline: none;
	resize: none;
	font-family: 'Open Sans', sans-serif;
	min-height: 80px;
	background: #F4F5F7;
	border: none;
	border-radius: 2px;
	padding: 5px;
	-webkit-transition: height 0.2s ease-out;
     -moz-transition: height 0.2s ease-out;
       -o-transition: height 0.2s ease-out;  
             transition: all 0.2s ease-out; 
}

.submit-btn {
	background: #61D89C;
	color: #fff;
	height: 80px;
	width: 100%;
	box-sizing: border-box;
	display: inline-block;
	border: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	border-radius: 2px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	-webkit-transition: all 0.2s ease-out;  
     -moz-transition: all 0.2s ease-out; 
       -o-transition: all 0.2s ease-out;  
          transition: all 0.2s ease-out; 
}

.submit-btn:hover {
	background: #8ae2b6;

}


/*-- Header styles --*/

.full-width-header {
	background: #565d64;
	margin-bottom: 20px;
}

.site-header .pure-menu.pure-menu-open, .site-header .pure-menu.pure-menu-horizontal li .pure-menu-children {
	background: transparent;
}

.pure-menu-heading h1, .site-header .pure-menu a {
	color: #fff;
}

/*-- Presence sidebar styles --*/

.online-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.indicator {
	display: inline-block;
	background: #ef6957;
	width: 12px;
	height: 12px;
	border-radius: 7px;
}

.indicator.is-online {
	background: #61D89C;
}
.online-count {
	font-weight: 300;
	font-size: 20px;
}

.l-box {
	margin: 10px;
	padding: 10px;
	background: #fff;
	box-shadow: rgba(0,0,0,0.05) 0 1px 5px;
}

.bold {
	font-weight: 700;
}
