@font-face {
  font-family: 'fontello';
  src: url('/fonts/fontello.eot?98991264');
  src: url('/fonts/fontello.eot?98991264#iefix') format('embedded-opentype'),
       url('/fonts/fontello.woff?98991264') format('woff'),
       url('/fonts/fontello.ttf?98991264') format('truetype'),
       url('/fonts/fontello.svg?98991264#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
}
 
.icon-twitter:before { content: '\e805'; } /* '' */
.icon-github:before { content: '\e804'; } /* '' */
.icon-pencil:before { content: '\e801'; } /* '' */
.icon-cancel:before { content: '\e802'; } /* '' */
.icon-chat:before { content: '\e800'; } /* '' */

* {
	box-sizing: border-box;
}

body {
	background: #edece4;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #242628;
}

/*-- Global Styles --*/
.bg-wrap {
	background: url(/img/bg_new.jpg) no-repeat top center;
	background-size: cover;
	min-height: 600px;
}

.wrap {
	max-width: 1000px;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: #242628;
}

a:hover {
	color: #a1dae5;
}

.invisible {
	opacity: 0;
}

a,
#login-buttons-logout,
#login-buttons-open-change-password {
	-webkit-transition: all 0.2s ease-out;  
     -moz-transition: all 0.2s ease-out;  
       -o-transition: all 0.2s ease-out;  
          transition: all 0.2s ease-out;
}

.bold {
	font-weight: 700;
}

.centered {
	text-align: center;
}

.logo-font {
	font-family: 'Nixie One', cursive;
	font-weight: 300;
}

.icon-github {
	font-size: 1.1em;
}

.icon-chat {
	color: #a1dae5;
}

.edge-padding {
	padding-left: 20px;
	padding-right: 20px;
}

.inner-page {
	padding-bottom: 60px;
}

.l-box {
	margin: 10px;
	padding: 10px;
	background: #fff;
	border-radius: 3px;
	box-shadow: rgba(0,0,0,0.05) 0 1px 5px;
}

.boxed-bg {
	background: #61D89C;
	border-radius: 3px;
	padding: 2px 5px;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
}

/*-- Flash styles --*/
.l-box.alert-error {
	background: #ef6957;
	color: #fff;
}


/*-- Front Page styles --*/

.front-page {
	padding-top: 20px;
	text-align: center;
	padding-bottom: 60px;
}

.front-page-copy {
	font-size: 18px;
}

.front-page-copy a {
	color: #a1dae5;
	font-weight: 400;
}

.site-name {
	margin: 0;
	display: inline-block;
}

.large-font .site-name {
	font-size: 100px;
}

.large-font .main-logo {
	font-size: 200px;
}

.main-logo {
	display: inline-block;
	vertical-align: middle;
}

.no-margin {
	margin: 0;
}

.hide-scroll {
	overflow: hidden;
}

/*-- Header styles --*/
.site-title {
	margin: .5em 0;
}
.full-width-header {
	background: #fff;
	position: relative;
	z-index: 200;
}

.pure-menu a.pure-menu-heading {
	padding-top: 0;
	padding-bottom: 0;
}

.site-header .pure-menu.pure-menu-open,
.site-header .pure-menu.pure-menu-horizontal li .pure-menu-children {
	background: transparent;
}

/*-- Footer styles --*/

.full-width-footer {
	background: #fff;
	width: 100%;
	position: fixed;
	bottom: 0;
}

footer {
	padding: 10px 0;
}

.social-btns a {
	margin-right: 5px;
}

.align-last {
	text-align: right;
}


/*--  Nav Styles --*/

.pure-menu li.nav-item a:hover {
	background: transparent;
	color: #a1dae5;
}

.login-wrap {
	float: right;
}

.login-link-and-dropdown-list {
	position: relative;
}

#login-name-link {
	cursor: pointer;
}

.accounts-dialog {
	position: absolute;
	right: 0;
	background: #fff;
	padding: 10px;
	white-space: nowrap;
}

.accounts-dialog .login-close-text {
	float: right;
	padding: 0;
	cursor: pointer;
}

.login-close-text:before {
	font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
 	content: '\e802';
 	text-indent: 0;
}

.login-link-text {
	cursor: pointer;
}

.login-close-text-clear {
	clear: both;
}

#login-buttons-logout:hover {
	color: #ef6957;
}

.accounts-dialog label {
	clear: both;
	display: block;
}

.accounts-dialog input {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	background: #F4F5F7;
	border: none;
	border-radius: 2px;
	margin-bottom: 5px;
	outline: none;
	box-sizing: border-box;
	padding: 0 2px;
}

.accounts-dialog .error-message {
	color: #ef6957;
	font-size: 12px;
	white-space: normal;
}

.login-button-form-submit,
#login-buttons-open-change-password,
#login-buttons-logout {
	background: #a1dae5;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 4px 16px;
	cursor: pointer;
	margin-top: 5px;
	-webkit-transition: all 0.2s ease-out;  
     -moz-transition: all 0.2s ease-out;  
       -o-transition: all 0.2s ease-out;  
          transition: all 0.2s ease-out;
}

.login-button-form-submit:hover,
#login-buttons-open-change-password:hover {
	background: #bce4ec;
}

#login-buttons-logout {
	background: #ef6957;
}

#login-buttons-logout:hover {
	color: #fff;
	background: #f28576;
}

#signup-link,
#back-to-login-link {
	background: #61D89C;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	border: none;
	padding: 4px 0;
	cursor: pointer;
	display: block;
	margin-top: 10px;
	-webkit-transition: all 0.2s ease-out;  
     -moz-transition: all 0.2s ease-out;  
       -o-transition: all 0.2s ease-out;  
          transition: all 0.2s ease-out;
}

#signup-link:hover,
#back-to-login-link:hover {
	color: #fff;
	background: #8ae2b6;
}

/*-- Message Box --*/

.conversations {
	max-height: 650px;
	overflow: auto;
}

.single-message {
	border-bottom: 1px solid #edece4;
	padding-bottom: 5px;
	-webkit-transition: all 0.3s ease-out;  
     -moz-transition: all 0.3s ease-out;  
       -o-transition: all 0.3s ease-out;  
          transition: all 0.3s ease-out;
}

.name {
	font-size: 13px;
	font-weight: 700;
	margin-bottom: 0;
}

.posted-on {
	font-size: 12px;
	display: block;
}

.owns-post .name {
 color: #a1dae5;
}

.message-content p {
	font-size: 18px;
	margin-bottom: 0;
}

/*-- Message entry --*/

.entry-box {
	margin-bottom: 10px;
}

.message-submit fieldset {
	border: none;
	padding: 0;
	margin: 0;
	text-align: left;
	margin-top: 5px;
}

.entry-label {
	display: inline-block;
}

.entry-field {
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
	max-width: 100%;
	outline: none;
	resize: none;
	font-family: 'Open Sans', sans-serif;
	min-height: 80px;
	background: #eff1f3;
	border: none;
	border-radius: 3px;
	padding: 5px;
	-webkit-transition: height 0.2s ease-out;
     -moz-transition: height 0.2s ease-out;
       -o-transition: height 0.2s ease-out;  
             transition: all 0.2s ease-out; 
}

.submit-btn {
	background: #61D89C;
	color: #fff;
	height: 80px;
	width: 100%;
	box-sizing: border-box;
	display: inline-block;
	border: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	border-radius: 3px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	-webkit-transition: all 0.2s ease-out;  
     -moz-transition: all 0.2s ease-out; 
       -o-transition: all 0.2s ease-out;  
          transition: all 0.2s ease-out; 
}

.submit-btn:hover {
	background: #8ae2b6;
	color: #fff;

}

/*-- Presence sidebar styles --*/

.online-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.indicator {
	display: inline-block;
	background: #ef6957;
	width: 12px;
	height: 12px;
	border-radius: 7px;
}

.indicator.is-online {
	background: #61D89C;
}
.online-count {
	font-weight: 300;
	font-size: 20px;
}

.avatar {
	border-radius: 8px;
	vertical-align: middle;
}

/*-- About page --*/

.smaller {
	font-size: 60px;
	margin-bottom: 20px;
}

/*-- Notification button --*/
.notification-button {
	text-align: center;
	color: #fff;
}

/*-- Animations --*/

.animated{
	-webkit-animation-fill-mode:both;
	   -moz-animation-fill-mode:both;
	    -ms-animation-fill-mode:both;
	     -o-animation-fill-mode:both;
	        animation-fill-mode:both;
	-webkit-animation-duration:1s;
	   -moz-animation-duration:1s;
	    -ms-animation-duration:1s;
	     -o-animation-duration:1s;
	        animation-duration:1s;
}

@-webkit-keyframes bounceInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
	}	60% {
		opacity: 0.8;
		-webkit-transform: translateY(30px);
	}
	
	80% {
		-webkit-transform: translateY(-10px);
	}
	
	100% {
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes bounceInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-2000px);
	}
	
	60% {
		opacity: 0.8;
		-moz-transform: translateY(30px);
	}
	
	80% {
		-moz-transform: translateY(-10px);
	}
	
	100% {
		-moz-transform: translateY(0);
	}
}

@-o-keyframes bounceInDown {
	0% {
		opacity: 0;
		-o-transform: translateY(-2000px);
	}
	
	60% {
		opacity: 0.8;
		-o-transform: translateY(30px);
	}
	
	80% {
		-o-transform: translateY(-10px);
	}
	
	100% {
		-o-transform: translateY(0);
	}
}

@keyframes bounceInDown {
	0% {
		opacity: 0;
		transform: translateY(-2000px);
	}
	
	60% {
		opacity: 0.8;
		transform: translateY(30px);
	}
	
	80% {
		transform: translateY(-10px);
	}
	
	100% {
		transform: translateY(0);
	}
}

.bounceInDown {
	-webkit-animation-name: bounceInDown;
	   -moz-animation-name: bounceInDown;
	     -o-animation-name: bounceInDown;
	        animation-name: bounceInDown;
	-webkit-animation-delay:1s;
	   -moz-animation-delay:1s;
	    -ms-animation-delay:1s;
	     -o-animation-delay:1s;
	        animation-delay:1s;
}

@-webkit-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@-o-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;
	-webkit-animation-delay:2s;
	   -moz-animation-delay:2s;
	    -ms-animation-delay:2s;
	     -o-animation-delay:2s;
	        animation-delay:2s;
}

@-webkit-keyframes bounceInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(2000px);
	}

	60% {
		opacity: 1;
		-webkit-transform: translateX(-30px);
	}

	80% {
		-webkit-transform: translateX(10px);
	}

	100% {
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes bounceInRight {
	0% {
		opacity: 0;
		-moz-transform: translateX(2000px);
	}

	60% {
		opacity: 1;
		-moz-transform: translateX(-30px);
	}

	80% {
		-moz-transform: translateX(10px);
	}

	100% {
		-moz-transform: translateX(0);
	}
}

@-o-keyframes bounceInRight {
	0% {
		opacity: 0;
		-o-transform: translateX(2000px);
	}

	60% {
		opacity: 1;
		-o-transform: translateX(-30px);
	}

	80% {
		-o-transform: translateX(10px);
	}

	100% {
		-o-transform: translateX(0);
	}
}

@keyframes bounceInRight {
	0% {
		opacity: 0;
		transform: translateX(2000px);
	}

	60% {
		opacity: 1;
		transform: translateX(-30px);
	}

	80% {
		transform: translateX(10px);
	}

	100% {
		transform: translateX(0);
	}
}

.bounceInRight {
	-webkit-animation-name: bounceInRight;
	-moz-animation-name: bounceInRight;
	-o-animation-name: bounceInRight;
	animation-name: bounceInRight;
	-webkit-animation-delay:1s;
	   -moz-animation-delay:1s;
	    -ms-animation-delay:1s;
	     -o-animation-delay:1s;
	        animation-delay:1s;
}

/*-- Media Queries --*/ 
@media only screen and (max-width: 768px) {
	.accounts-dialog {
		right: auto;
		left: 0;
	}

	.full-width-footer {
		position: static;
	}

	.pure-menu-heading {
		width: 100%;
	}

	.center-small {
		text-align: center;
	}

	.large-font .site-name {
		display: block;
		font-size: 60px;
	}

	.large-font .main-logo {
		font-size: 120px;
	}
}
