<template name="aboutPage">
	
	<div class="pure-g-r wrap centered">
		<div class="pure-u-1 margin-top">
			<div class="l-box">
				<h1 class="logo-font site-name smaller"><i class="icon-chat"></i>GTHR @229</h1>
				<div class="pure-g-r">
					<div class="pure-u-3-4 centered">
					<div class="front-page-copy edge-padding">
						<p>This app is a side project of Sam Mason to get his head around Meteor and node apps. There will be bugs and the app will be changing over time as the platform gets more stable and I learn more about the js apps. The app uses a <a href="https://www.digitalocean.com/?refcode=9c2749da15c0">Digital Ocean VPS</a>, a Mongo DB and Meteor JS at its core.</p>
						<p>The source code for the app is all open source and can be found here on <a href="https://github.com/samjbmason/gthr">Github</a> if you find any issues/bugs or would like to suggest some impreovements please add them <a href="https://github.com/samjbmason/gthr/issues">HERE</a>. Any devs have a cool idea that they think would work with the project please feel to submit a pull request.</p>

						<p>I always love hearing from peeps using the app so feel free to drop me a <a href="https://twitter.com/samjbmason">tweet</a></p>
					</div> <!--  .front-page-copy -->
					</div> <!--  .pure-u-1-2 -->
				</div> <!--  .pure-g-r -->
			</div> <!--  .l-box -->
		</div> <!--  .pure-u-1 -->
	</div> <!--  .pure-g-r -->

</template>