<template name="frontPage">
 
	<div class="pure-g-r wrap">
		<div class="pure-u-1">
			<div class="logo-wrap">
				<i class="icon-chat main-logo animated bounceInDown"></i>
			</div> <!--  .logo-wrap -->
			<div>
				<h1 class="logo-font site-name animated fadeIn">GTHR @229</h1>
			</div> <!--  .site-name -->
		<div class="pure-g-r">
			<div class="pure-u-3-4 centered">
			<div class="front-page-copy edge-padding animated fadeIn">
				<p>Welcome to GTHR the internal chat app here at 229 Creative, a good way for people to get to know each other in the building and keep up to date with the who's and happenings of shoreditch from the comfort of your own office chair. Brought to you by the guys at <a href="http://www.benchmarkstudios.co.uk/">Benchmark Studios</a>, as the app is currently in beta feel free to let us know if anything is broken etc. Also if you have any ideas for the app feel free to drop us a tweet or message us.</p>
				<p>Currently the app is only open to people working at 229 Creative if you have just moved in drop me a tweet at <a href="https://twitter.com/samjbmason">@samjbmason</a> and I will give you access. Enjoy!</p>
			</div> <!--  .front-page-copy -->
			</div> <!--  .pure-u-1-2 -->
		</div> <!--  .pure-g-r -->
		</div> <!--  .pure-u-1 -->
	</div> <!--  .pure-g-r -->
	
</template>