<template name="messageEntry">

	<form class="message-submit">
		<label class="entry-label" for="content">Type here...</label>
		<fieldset>
		<div class="pure-g-r">
			<div class="pure-u-4-5">
				<textarea class="entry-field" autofocus name="content"></textarea>
			</div> <!--  .pure-u-4-5 -->
			<div class="pure-u-1-5">
				<input type="submit" value="Send" class="submit-btn">
			</div> <!--  .pure-1-5 -->
	</div> <!--  .pure-g-r -->
		</fieldset>
	</form> <!--  .message-submit -->

</template>