<template name="messagesList">
  
  <div class="pure-u-3-5">
    <div class="l-box">
      <div class="entry-box">
        {{> messageEntry}}
      </div> <!--  .entry-box -->

    	<div class="conversations">
    		{{#if messagesReady}}
          {{#unless allMessagesLoaded}}
            <a class="load-more" href="#">Load more</a>
          {{/unless}}
        {{else}}
          <div>{{> spinner}}</div>
        {{/if}}

    		{{#each messages}}
          {{> messageSingle}}
        {{/each}}
    	</div> <!--  .conversations -->
    </div> <!--  .l-box -->
  </div> <!--  .pure-u-45 -->

</template>